.alert-hover {
	position: fixed;
    top: 50px;
    width: 100vw;
    z-index: 10;
    border-radius: 0;
}

.table-clean tbody tr td {
	border-top: 0;
}

.table-divided tbody tr {
	border-bottom: 1px solid #eee;

	&:last-child {
		border-bottom: 0;
	}
}

.panel-background {
	max-height: 130px;
	overflow: hidden;
}

.img-avatar-lg {
	max-width: 100px;
	width: 100px;
	position: absolute;
	top: 15px;
}

.no-margin-btm {
	margin-bottom: 0;
}